.cards {
  align-items: center;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: calc(50% - 10px);
}

.card_title {
  align-items: flex-end;
  background: rgb(65, 65, 65);
  color: white;
  display: flex;
  font-size: 1.7rem;
  height: 100%;
  justify-content: flex-start;
  line-height: 2rem;
  min-height: 60px;
  padding: 20px;
  width: 100%;
}

.conteiner_image {
  background-color: aqua;
  height: 170px;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.mainContainer {
  background: rgb(71, 255, 148);
}
