.cards {
  align-items: center;
  background: rgb(88, 88, 95);
  display: flex;
  margin: 15px;
  width: 300px;
}

.image {
  width: 100px;
}

.mainContainer {
  align-items: center;

  /*   background-color: red; */
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  max-width: 100%;
  position: absolute;
  top: 200px;
  width: 100vw;
}
