.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px 60px;
  position: absolute;
  top: 150px;
  width: 100vw;
}

.cardsContainer {
  font-size: 80px;
}

.filters {

  /*   background-color: gray; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filters button {
  background-color: red;
  border: none;
  border-radius: 60px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
  color: white;
  font-weight: 900;
  height: 30px;
  width: 70px;
}

/* Daqui pra baixo os cards */
.cards {
  align-items: center;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  width: 300px;
}

.conteiner_image {
  background-color: aqua;
  height: 200px;
  width: 300px;

}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.mainContainer {
  background: rgb(71, 255, 148);
}
