.conteiner_form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 25px 25px;
  padding: 10px 20px;
  position: absolute;
  top: 70px;
  width: 100%;
}

.input_search {
  grid-area: 2 / 1 / 2 / 3;
  position: relative;
}

.input_search input {
  border: rgb(47, 47, 47) 1px solid;
  border-radius: 30px;
  height: 100%;
  padding: 10px 20px;
  width: 100%;
}

.radio_search {
  align-items: center;
  border: none;
  display: flex;
  font-size: 1.4rem;
  grid-area: 1 / 1 / 1 / 4;
  justify-content: space-evenly;

  /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; */
}

.radio_search label {
  align-items: center;
  display: flex;
  grid-area: 2 / 3 / 2 / 3;
}
