.nav_conteiner {
  background-color: #cdcdcd;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  height: 70px;
  min-width: 100%;
  padding: 10px 20px;
  position: relative;
  width: 100vw;
}

.nav_title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile_button {
  background: none;
  border: none;
}

.magnifying_button {
  padding-top: 20px;
}
