.container_page_explore_foods:before {
  background: url('../images/noisebg.png') #f3f1f1;
  content: '';
  height: 100vh;
  max-width: 100%;
  position: fixed;
  width: 100vw;
}

.container_explore_foods {
  align-items: center;

  /* background: tomato; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
  padding: 0 20px 80px;
  position: absolute;
  top: 180px;
  width: 100vw;
}

.container_explore_foods a {
  align-items: center;

  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: flex-star;
  width: 100%;
}

.container_explore_foods button {
  cursor: pointer;
}

.explore_food_by_ingredient {
  align-items: center;
  background: url('../images/vetores/foods_by_ingredient.svg');

  /* background-color: olive; */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: flex-end;
  width: 60vw;
}

.explore_food_by_nationality {
  align-items: center;
  background: url('../images/vetores/explore_food_nacionalidade.svg');

  /* background-color: olive; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: flex-end;
  width: 60vw;
}

.explore_food_by_surprise {
  align-items: center;
  background: url('../images/vetores/food_suprise.svg');

  /* background-color: olive; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  justify-content: flex-end;
  width: 60vw;
}

.title_button {
  bottom: 0;
  color: var(--dark_color);
  font-family: Volkhov , serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
  text-decoration: none;
  transform: translateY(50px);
}

.title_button:before {
  background-color: var(--dark_color);
  content: '';
  height: 5px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 32px;
}

.title_button:after {
  background-color: var(--dark_color);
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  top: 2px;
  transform: translateX(-50%);
  width: 120px;
}
