* {
<<<<<<< HEAD
background-color: rgb(102, 101, 101);
=======
  background-color: rgb(102, 101, 101);
>>>>>>> e0fa09a1696e8b065e3d94da0f44f9b41fee0ae0
}

.selected {
  background-color: #0fa36b;
}

.meals {
  background: #0fa36b;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
